.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
*.tfvars
!*.tfvars.example
.env

# Backend pointer written by bootstrap (bucket name + endpoint)
backend.hcl

infra-app/terraform.tfvars.bak
infra-persistent/terraform.tfvars.bakbootstrap.log
teardown.log
